@import url('reset.css');

/* pseudo-classes */

body {
  font-family: arial, sans-serif;
  color: rgb(10, 14, 0);
}
h1 {
  font-size: 1.5em;
  margin: 0em 0em .3em;
  font-family: georgia, serif;
  color: rgb(132, 169, 45);
}
p {
  margin: 0em 0em 1em;
}
th {
  text-align: left;
}
th, td {
  padding: 6px;
  line-height: 1em;
}
.hideable td {
  padding: 0px 6px 6px;
}
a {
  text-decoration: none;
  color: inherit;
}
input[type="submit"], #left_column a, #add a {
  border-radius: 7px;
  background: rgb(132, 169, 45);
  border: 1px solid rgb(121, 147, 58);
  color: rgb(255, 255, 255);
  font-family: arial, sans-serif;
  font-size: 12px;
  padding: 2px 5px 2px;
  margin: 0px;
}

label {
  display: block;
}

/* classes */

.messages {
  color: rgb(209, 249, 90);
  font-style: italic;
  background: rgb(102, 102, 102);
  font-size: .75em;
  clear: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inner {
  width: 900px;
  margin: 0px auto 0px;
}
.field {
  font-size: .75em;
  margin: 0px 0px 7px;
}
.subtle {
  color: rgb(102, 102, 102);
  font-size: .75em;
  font-style: italic;
}
.default_hidden {
  display: none;
}
.margin_bottom_20 {
  margin: 0px 0px 20px;
}
.top_line {
  border-top: 1px rgb(102, 102, 102) solid;
}
.overdue {
  background: rgba(209, 249, 90, .2);
}
.due_today {
  background: rgba(132, 169, 45, .2);
}
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl{
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
}
.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.due_cell {
  width: 125px;
}
.title_cell {
  width: 325px;
}

/* ids */

#app_header {
  background: rgb(10, 14, 0);
  padding: 10px;
  color: rgb(209, 249, 90);
  font-size: 2em;
  font-weight: bold;
  font-family: georgia, serif;
  border-bottom: 2px solid rgb(132, 169, 45);
}
#menu_and_messages {
  height: 24px;
  padding: .25em 0em .25em;
  margin: 0px 0px 20px;
  background: rgb(102, 102, 102);
}
#quick_add {
  width: 500px;
}
#header_task_submit {
  margin: 1px 0px 0px 7px !important;
}
#quick_add input {
  margin: 1px 0px 0px 5px;
}
#menu li {
  float: left;
  margin: 0px 15px 0px 0px;
  font-size: .8em;
  color: rgb(255, 255, 255);
}
#messages {
  line-height: 24px;
}
#right_column {
  width: 275px;
  padding: 0px 0px 0px 20px;
  border-left: 1px rgb(10, 14, 0) solid;
  min-height: 590px;
  margin: 0px 0px 0px 20px;
}
#task_form_errors {
  padding: 5px;
  width: 265px;
  margin: 0px 0px 10px;
}
#task_description {
  width: 269px;
  height: 40px;
}
#task_title {
  width: 269px;
}
#completed_table {
  width: 100%;
}
#pending_table {
  width: 584px;
}
#left_column .gray_button, #add .gray_button, #quick_add .gray_button {
  background: rgb(102, 102, 102);
  border: 1px solid rgb(75, 75, 75);
}
#add .margin_right_10 {
  margin: 0px 10px 0px 0px;
}
#left_column .red_button {
  background: rgb(166, 18, 18);
}