@import url('reset.css');

/* Pseudo-classes */

body {
  font-family: arial, sans-serif;
  color: rgb(10, 14, 0);
}
h1 {
  font-size: 1.5em;
  margin: 0em 0em .3em;
  font-family: georgia, serif;
  color: rgb(132, 169, 45);
}
p {
  margin: 0em 0em 1em;
}
th {
  text-align: left;
}
th, td {
  padding: 5px;
}

/* Classes */

.messages {
  width: 100%;
  color: rgb(209, 249, 90);
  font-style: italic;
  background: rgb(102, 102, 102);
  font-size: .75em;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inner {
  width: 900px;
  margin: 0px auto 0px;
}
.field {
  font-size: .75em;
  margin: 0px 0px 7px;
}
.subtle {
  color: rgb(102, 102, 102);
  font-size: .75em;
  font-style: italic;
}
.default_hidden {
  display: none;
}
.margin_bottom_20 {
  margin: 0px 0px 20px;
}
.top_line {
  border-top: 1px rgb(102, 102, 102) solid;
}
.overdue {
  background: rgba(209, 249, 90, .2);
}
.due_today {
  background: rgba(132, 169, 45, .2);
}
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl{
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
}
.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.due_cell {
  width: 115px;
}
.title_cell {
  width: 300px;
}

/* Ids */

#app_header {
  background: rgb(10, 14, 0);
  padding: 10px;
  color: rgb(209, 249, 90);
  font-size: 1.7em;
  font-weight: bold;
  font-family: georgia, serif;
  border-bottom: 2px solid rgb(132, 169, 45);
}
#messages {
  height: 1em;
  padding: .25em 0em .25em;
  margin: 0px 0px 20px;
  background: rgb(102, 102, 102);
  text-align: right;
  
}
#left_column {
  width: 559px;
  padding: 0px 20px 0px 0px;
  border-right: 1px rgb(10, 14, 0) solid;
}
#right_column {
  width: 300px;
}
#task_form_errors {
  padding: 5px;
  width: 290px;
  margin: 0px 0px 10px;
}
#task_description {
  width: 294px;
  height: 40px;
}
#task_title {
  width: 294px;
}
#due_date {
  margin: 0px auto 7px;
  width: 230px;
}
#completed_table {
  width: 100%;
}
#pending_table {
  width: 559px;
}

/* css for timepicker */
